<div id="about" class="container">
    <h2 class="mt-4">Who Am I?</h2>
    <div class="row py-4">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quae ut error tempore veritatis iste
                autem
                velit alias debitis vitae delectus quasi nihil atque voluptatem corrupti iusto eum, blanditiis illum.
            </p>

            <p>Nostrum illo assumenda modi, beatae voluptate repellendus repellat sed
                impedit
                corporis vitae
                asperiores
                corrupti praesentium adipisci harum similique maxime aut quibusdam quaerat libero molestiae officiis
                ullam
                eaque. Laudantium, facere quidem.</p>

        </div>

    </div>
</div>