<app-navbar></app-navbar>

<app-herobar class="main-header">
  <h2 class="display-3">Angular Agency</h2>
  <h4 class="pt-4">Hi, I am Matt! I am a Angular developer</h4>
  <h4 class="pt-4">Welcome to my Web Portfolio</h4>
</app-herobar>

<div class="container">
  <div class="row py-4">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque quae ut error tempore veritatis iste autem
        velit alias debitis vitae delectus quasi nihil atque voluptatem corrupti iusto eum, blanditiis illum.</p>
      <a href="#" [hidden]="readmore" (click)="readmore = !readmore">Read more</a>

      <p *ngIf="readmore">Nostrum illo assumenda modi, beatae voluptate repellendus repellat sed impedit corporis vitae asperiores
        corrupti praesentium adipisci harum similique maxime aut quibusdam quaerat libero molestiae officiis ullam
        eaque. Laudantium, facere quidem.</p>

    </div>
    <div class="col">
      <app-progressbar value="25" label="Angular" status="danger" striped></app-progressbar>

      <app-progressbar value="50" label="CSS"  status="info" striped></app-progressbar>

      <app-progressbar [value]="50 + 25" label="HTML"  status="success" striped></app-progressbar>
    </div>
  </div>
</div>

<app-herobar>
  <blockquote class="blockquote text-white">
    <h4>"Such a quote... much motivational"</h4>
    <footer class="blockquote-footer  text-white">Someone famous</footer>
  </blockquote>
</app-herobar>